.row {
  max-width: 1440px;
  background-color: inherit;
  margin: 0 auto;
  font-size: 1.6rem;
  color: $whiteColor;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  // @media screen and max-width() {
  //   flex-direction: column;
  // }
}

.xs6 {
  flex-basis: 48%;
  @media screen and (max-width: $breakSm) {
    flex-basis: 100%;
  }
}

.xs3 {
  flex-basis: calc(100% / 4 - 30px);
  @media screen and (max-width: 780px) {
    flex-basis: 48%;
  }
  @media screen and (max-width: 575px) {
    flex-basis: 90%;
  }
}
