.persons {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-image: linear-gradient(
    rgba(8, 7, 7, 0.5) 30%, 
    rgba(2, 27, 27, 0.52) 67%, 
    rgba(36, 22, 22, 0.89)), 
    url('../images/tg-persons-back.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
  // наклон всего блока на -7 градусов
  // transform: skewY(-5deg);

  @media screen and (max-width: $breakSm) {
    padding-top: 26rem;
  }

  // Выравниваем весь контент на противоложное значение
  // & > * {
  //   transform: skewY(5deg);
  // }
}
